@import '../../_css/common';

.inputWrap {
  width: 100%;
}

.input {
  width: 100%;
  font-family: system-ui;
  border-radius: 0;
  box-shadow: none;
  border: 1px var(--color-primary) solid;
  border-radius: 10px;
  background: none;
  background-color: var(--color-white);
  color: var(--color-primary);
  height: calc(var(--base) * 2);
  line-height: calc(var(--base) * 2);
  padding: 0 calc(var(--base) / 2);

  &:focus {
    border: 1px var(--color-primary) solid;
    outline: none;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-primary);
    -webkit-box-shadow: 0 0 0px 1000px var(--color-white) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@media (prefers-color-scheme: dark) {
  .input {
    background-color: var(--color-white);
  }
}

.error {
  background-color: var(--color-white);
}

.label {
  margin-bottom: 0;
  display: block;
  line-height: 1;
  margin-bottom: calc(var(--base) / 2);
}

.errorMessage {
  font-size: small;
  line-height: 1.25;
  margin-top: 4px;
  color: red;
}
